@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #e9e9e9;
}


header{
    background-color: rgba(0, 0, 0, 0.272);
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;

    display: flex;
    justify-content: center;
    z-index: 1;
}

.main-menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-menu img{
    width: 200px;  
}

.menu-line{
    background-color: #4800ff65;
    width: 100%;
    height: 3px;
    margin: auto 20px;
    
}

.main-menu nav{
    display: flex;
    align-items: center;
}

.main-menu nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.main-menu nav ul li{
    font-size: 1.5rem;
}

.main-menu nav ul li a{
    color: rgba(255, 255, 255, 0.722);
    text-decoration: none;
    font-weight: 500;
}

.main-menu nav ul li a:hover{
    color: #FFF;
    transition: .5s;
}

.main-menu nav ul li:last-child{
    border: solid #4800ff65;
    padding: 5px 20px;
    border-radius: 50px;
}


.main-banner{
    width: 100%;
    height: 100vh;
    background-image: url("https://metodofanart.com.br/wp-content/uploads/2017/07/Goku-Dragon-Ball-Z-Backgrounds.jpg");
    opacity: 0.8;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 5em rgb(0, 0, 0)

}


.main-banner .banner-content{
    background-color: #ffffff95;
    height: 60vh;
    width: 90%;

    display: flex;
    padding: 50px;

    box-shadow: 0 0 5em gold
}

.main-banner .banner-content .banner-text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    justify-content: center;

}

.main-banner .banner-content .banner-text h1{
    color: rgba(11, 11, 11, 0.9);
    font-size: 5rem;
    font-weight: 700;
    
}

.main-banner .banner-content .banner-text p{
    color: rgba(11, 11, 11, 0.9);
    font-size: 1.2rem;
    font-weight: 400;
}

.main-banner .banner-content .banner-text a{
    text-decoration: none;
    color: #FFF;
    background-color: #4800ffcd;
    width: 35%;
    padding: 0 50px 0 0;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 50px;
    margin-top: 30px;

}

.main-banner .banner-content .banner-text a:hover{
    background-color: #4800ffed;
    transition: .5s;
}

.main-banner .banner-content .banner-text a img{
    width: 50px;
}

.main-versions{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 50px 20px;

    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2)
}

.main-versions h1{
    color: rgba(11, 11, 11, 0.9);
    font-size: 5rem;
    font-weight: 700;
}

.main-versions p{
    color: rgba(11, 11, 11, 0.9);
    font-size: 1.2rem;
    font-weight: 400;
}

.main-versions .cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.main-versions .cards .card:hover{
    box-shadow: 0 0 1em rgba(4, 4, 4, 0.473)
}

.main-versions .cards .card h5{
    font-size: 1.6rem;
    font-weight: 700;
}

.main-versions .cards .card img{
    height: 300px;
}

.main-versions .modal-versions{
    display: flex;
    margin-top: 50px;
}

.newslatter{
    display: flex;
    justify-content: center;

    background-image: url("https://i.pinimg.com/originals/c0/d1/5e/c0d15ea2e36dcbaf3da3aabe2aaf8bfa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .9;
    width: 100%;

    border-bottom: solid #4800ffed 5px;
    box-shadow: 0 0 5em rgb(0, 0, 0)

}

.newslatter .newslatter-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 50px 0;
    width: 90%;

}

.newslatter-content form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newslatter-content h1{
    color: rgba(11, 11, 11, 0.9);
    font-size: 4rem;
    font-weight: 700;
}


.newslatter-content form .mb-3{
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 20px ;
}

.newslatter-content form .mb-3 input{
    width: 70%;
    height: 50px;
    margin-right: 10px;
    box-shadow: 0 0 1em rgb(0, 0, 0)
}

.newslatter-content form .mb-3 button{
    width: 20%;
    font-size: 1.5rem;
    background-color: #4800ffed;
}

.newslatter-content form .mb-3 button:hover{
    color: gold;
    transition: .5s;
}

/***

Aqui vai demais conteudos

**/

footer{

    display: flex;
    justify-content: center;

    width: 100%;
    background-color: rgba(11, 11, 11, 0.9); ;
}

footer .container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;

    padding-top: 50px;
}

footer h1{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}

footer p{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

footer .profiles {
    display: flex;
    justify-content: center;
        
    gap: 20px;


    width: 100%;
    min-width: 300px;

    padding-bottom: 50px;
}

footer .profiles .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    border: solid rgba(255, 187, 0, 0.522) 2px;
    border-radius: 10px;

    width: 30%;
}


footer .profiles .profile img{
    width: 200px;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px 0 0 10px;
}

footer .profiles .profile h1{
    font-size: 1.5rem;
}

footer .profiles .profile p{
    font-size: 1rem;
    color: #fff;
    
}

footer .profiles .profile .profile-social{
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .profiles .profile .profile-social img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

footer .profiles .profile .profile-social img:hover{
    transform: scale(1.1);
    transition: .5s;
    border: solid gold 1px;
}

.end-site{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;

    background-color: #4800ffed;
}

.end-site p{
    font-size: 1.2rem;
    text-align: center;
    margin: auto 0;
    padding: 10px;

    font-weight: 700;
    color: #fff;
}

.end-site p:hover{
    color: gold;
    cursor: pointer;
    transition: .5s;

    transform: scale(1.2);
}

@media screen and (max-width: 950px) {

    .main-banner .banner-content .banner-text a{
        font-size: 0.8rem;
        text-align: center;
    }

    .main-banner .banner-content .banner-text a img{
    width: 0px;
    }

    .main-banner img{
        width: 0;
        height: 0;
    }



  }





@media screen and (max-width: 700px) {
    header{
        height: 150px;
    }
    .main-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    .main-menu img{
        width: 150px;
        height: 100px;  
    }

    .main-banner img{
        width: 0px;
        height: 0px;
    }

    .main-banner .banner-content .banner-text h1{
        font-size: 4rem;
        text-align: center;
    }

 

  }